.container-default {
	position: relative;
	background-color: #f6f6f6;
	@include media(s) {
		padding: 0;
		max-width: 100%;
	}
}
.container-first {
	background-color: $azul;
	padding: 80px 0;
	@include media(s) {
		padding: 40px 24px;
	}
}

.container__items {
	display: flex;
	gap: 40px;
	@include media(s) {
		flex-direction: column;
	}
	.text {
		max-width: 50%;
		@include media(s) {
			max-width: 100%;
		}
	}
}

.button {
	@include button;
	color: #fff;
	background: $amarelo;
	padding: 24px 32px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	box-sizing: border-box;
	text-transform: uppercase;
	display: block;
	margin-right: 0px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	transition: all 0.2s ease-in;
	text-decoration: none;

	&:after {
		content: url("../assets/seta.svg");
		position: absolute;
		right: 0;
		opacity: 0;
		transition: all 0.3s ease;
	}
	&:hover {
		padding-right: 42px;
		color: #fff;
		background: #fff;
		color: #02aca1;
		&:after {
			right: 15px;
			opacity: 1;
		}
	}
	&-reset {
		display: inline-block;
		a {
			text-decoration: none;
			&:hover {
				color: $cinza-10;
			}
		}
	}
	&-underlined {
		text-transform: uppercase;
		border: none;
		background: transparent;
		position: relative;
		padding: 0px;
		display: flex;
		align-items: center;
		img {
			margin-right: 10px;
			transform: rotate(-180deg);
		}
		color: $cinza-10;
		@include option-text;
		&:before {
			position: absolute;
			content: "";
			height: 1px;
			width: 0;
			background-color: $cinza-10;
			transition: ease-out 0.3s all;
			bottom: 1px;
		}
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
}

.header {
	background: #fff;
	padding: 32px 0px;
	* {
		padding: 0;
	}
	.navbar-collapse {
		flex-grow: unset;
	}
	.container-fluid {
		width: 100%;
		padding: 0;
		@include media(s) {
			justify-content: space-around;
		}
	}
	.navbar-expand-lg {
		justify-content: space-between;
		width: 100%;
		padding: 0;
	}
	.navbar-nav {
		gap: 24px;
		@include media(s) {
			margin-top: 50px;
			flex-direction: row;
			justify-content: center;
		}
	}
	.nav-item {
		width: 42px;
		height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.navbar-toggler {
		outline: none;
		&:focus {
			outline: none;
			border: none;
			appearance: none;
		}
	}
}

.holder {
	&__infos {
		display: flex;
		flex-direction: column;
		max-width: 577px;
		width: 100%;
		flex-shrink: 0;
		justify-content: center;

		@include media(s) {
			padding-top: 0px;
		}
	}
	&__title {
		@include big-title;
		font-size: 60px;
		font-style: normal;
		text-align: right;
		font-weight: 800;
		line-height: 62px; /* 103.333% */
		letter-spacing: -1.25px;
		margin: 0;
		margin-bottom: 24px;
		color: #cbc5b9;
		span {
			color: #a08b5e;
		}
		@include media(s) {
			text-align: left;
			font-size: 32px;
		}
		strong {
			color: #02aca1;
			font-size: 50px;
			font-weight: 700;
			line-height: 62px;
			letter-spacing: -1.25px;
			@include media(s) {
				font-size: 28px;
				line-height: 32px;
				display: block;
			}
		}
	}
	&__sub {
		text-align: right;
		margin-bottom: 32px;
		color: #d2d2d2;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%; /* 45px */
		span {
			margin-top: 16px;
			display: block;
			color: #02aca1;
		}
	}
	&__text {
		@include paragraph;
		text-align: right;
		margin-bottom: 24px;
		color: #d2d2d2;
		span {
			font-size: 22px;
			font-style: normal;
			font-weight: 800;
			line-height: 150%;
			color: #87bc25;
		}

		@include media(s) {
			text-align: left;
		}
	}
	.dif {
		@include paragraph;
		font-size: 22px;
		font-style: normal;
		text-align: right;
		font-weight: 400;
		line-height: 150%;
		margin-bottom: 56px;
	}
	&__btn {
		text-align: right;
		display: flex;
		justify-content: end;
		@include media(s) {
			justify-content: start;
		}
	}
	&__img {
		@include media(s) {
			display: none;
		}
	}
}

.questions {
	&__container {
		display: none;
		padding: 80px 0;
	}
	&__item {
		margin-bottom: 48px;
	}
	&__number {
		color: #02aca1;
		font-family: Inter;
		font-size: 40px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
	}

	&__title {
		@include question;
		margin-bottom: 48px;
		color: #1e1a41;
		font-family: "Inter", sans-serif;
		font-size: 38px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		@include media(s) {
			max-width: 328px;
			margin: 0 auto;
			margin-bottom: 32px;
		}
		b {
			@include question-bold;
		}
	}
	&__list {
		list-style: none;
		padding: 0;
		gap: 12px;
		display: flex;
		flex-direction: column;
		@include media(s) {
			max-width: 328px;
			margin: 0 auto;
		}
	}
	&__option {
		gap: 24px;
		padding: 16px;
		background: #ffffff;
		align-items: center;
		border: 1px solid #1e1a41;
		border-radius: 12px;
		height: 98px;
		width: 100%;
		transition: all 0.2s ease-in;
		.alternativa {
			padding: 14px 21px 13px;
			transition: all 0.2s ease-in;
			background: $cinza-01;
			border-radius: 8px;
			color: #1e1a41;
			@include question-bold;
			text-transform: uppercase;
		}
		.texto {
			margin: 0;
			@include paragraph;
			text-align: left;
		}
		&:hover {
			background: rgba(22, 177, 168, 0.13);

			.alternativa {
				background: #16b1a8;
				color: #3d3d3d;
				font-weight: bold;
			}
		}
	}
	&__img {
		@include media(s) {
			display: none;
		}
		img {
			transform: scale(0.8);
		}
	}
}

.pagination {
	display: flex;
	gap: 48px;
	align-items: center;
	@include media(s) {
		flex-wrap: wrap;
	}
	&__list {
		list-style: none;
		padding: 0px;
		gap: 8px;
		margin: 0px;
		display: flex;
		li {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $cinza-01;
			&.active {
				background: #02aca1;
			}
		}
	}
}

.results {
	display: none;
	padding: 80px 0;
	&__item {
		@include media(s) {
			padding: 0 24px;
		}
	}
	.container-grid {
		@include media(s) {
			flex-direction: column-reverse;
		}
	}

	.holder__btn {
		text-align: start;
		justify-content: start;
		flex-wrap: wrap;
		.texto {
			margin: 0;
			@include paragraph;
			text-align: left;
			width: 100%;
			margin: 20px 0;
			padding-left: 32px;
		}
	}
	&__title {
		@include option;
		font-size: 48px;
		font-style: normal;
		font-weight: 750;
		line-height: normal;
		color: #16b1a8;
		margin: 0;
		margin-bottom: 24px;
	}

	&__desc {
		margin-bottom: 48px;
		margin-top: 0px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			color: #1e1a41;
			font-family: "Inter", sans-serif;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0;
		}

		img {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			max-width: 800px;
			margin: 20px auto 42px;
			border-radius: 16px;
			@include media(s) {
				max-width: 100%;
			}
		}
		b {
			font-size: 24px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			color: #1e1a41;
		}
		a {
			color: #001aff;
			font-family: Inter;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			display: inline;
		}
	}
}
